<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.orhanobut.dialog">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application>

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
